PRIVATE_KEY=0x
DRPC_ID=
ETHEREUM_RPC_URL="https://lb.drpc.live/ogrpc?network=ethereum&dkey=${DRPC_ID}"
BASE_RPC_URL="https://lb.drpc.live/ogrpc?network=base&dkey=${DRPC_ID}"
POLYGON_RPC_URL="https://lb.drpc.live/ogrpc?network=polygon&dkey=${DRPC_ID}"
UNICHAIN_RPC_URL="https://lb.drpc.live/ogrpc?network=unichain&dkey=${DRPC_ID}"
WORLDCHAIN_RPC_URL="https://lb.drpc.live/ogrpc?network=worldchain&dkey=${DRPC_ID}"
ARBITRUM_RPC_URL="https://lb.drpc.live/ogrpc?network=arbitrum&dkey=${DRPC_ID}"
BSC_RPC_URL="https://lb.drpc.live/ogrpc?network=bsc&dkey=${DRPC_ID}"
ROBINHOOD_RPC_URL="https://lb.drpc.live/ogrpc?network=robinhood&dkey=${DRPC_ID}"
